<!DOCTYPE html>
<html lang="pt">
<head>
	<title>Login de Usuário</title>
	
	<link href="/css/login.css" rel="stylesheet">
	
	<script src="https://kit.fontawesome.com/59f3c24bb5.js" crossorigin="anonymous"></script>
	
</head>

<body style="background-color: #30384c;">
	
	
	
	<div class="container">
		
		<div id="box">
				
			<div th:replace="fragments/mensagens"></div>
				
			<div id="conteudo">
				<h4>Login</h4>
				
				<form method="post" th:action="@{/login}" id="form">
					
					
					<input class="caixaTexto" type="text"  name="username" placeholder="Email:" required autofocus/> 
					
					<input class="caixaTexto" type="password" name="password" placeholder="Senha:"
					 required/> 

					<input class="botao" type="submit" value="Entrar">

				</form>
				<div id="contas">
					<p id="entrar">entrar com</p>

					<div id="links">

						<a href="#" class="account"> <i class="fab fa-facebook-square"></i>
						</a> <a href="#" class="account"> <i class="fab fa-google"></i>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>
</html>



